.main{
    padding: 3rem;
    display: grid;
    gap: 2rem;
  }
  .card{
    width: 400px;
    background-color: #d6afaf;
  }
  @media screen and (min-width: 768px) {
    .main {
      grid-template-columns: auto auto;
    }
  }
  @media screen and (min-width: 992px) {
    .main {
      grid-template-columns: auto auto auto;
    }
  }





